@import 'Assets/css/theme.scss';
@import 'Assets/css/border.scss';

#ad {
    @include border(#666, 0 0 1px 0);
    height: .64rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15px;
    img {
        width: 94px;
        height: 39px;
    }
    p {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        span {
            &:nth-child(1) {
                font-size: .14rem;
                color: #666;
            }
            &:nth-child(2) {
                font-weight: bold;
                font-size: .16rem;
                color: $ThemeRed;
                margin-left: 4px;
                i {
                    margin-left: 4px;
                }
            }
        }
    }
}