@import 'Assets/css/theme.scss';
@import 'Assets/css/border.scss';

#tab-bar {
    @include border(#666, 1px 0 0 0);
    width: 100%;
    height: .488rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
        flex: 1;
        height: 100%;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #696969;
            i {
                font-size: .26rem;
                margin-bottom: 2px;
            }
            span {
                font-size: .1rem;
            }
            &.active {
                color: $ThemeRed;
            }
        }
    }
}